body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    height: auto;
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #0a2442;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    color: #0a2442;
    margin: 0;
}
.logo {
    width: 100px;
    height: 100px;
    margin: 10px 0;
}
.logo img {
    height: 100px;
    width: 100px;
}

.container-input {
    position: relative;
    display: flex;
    align-items: center;
}

.container-input i {
    position: absolute;
    right: 15px;
    font-size: 14px;
    cursor: pointer;
}

.container-input i.active::before {
    content: '\f070';
    color: #0a2442;
}

.input-field {
    margin: 10px 0;
    outline: none;
    border: 2px solid #0a2442;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 14px;
    width: 280px;
}

.input-field:focus {
    border: 2px solid rgba(206, 139, 197, 1); 
}

.link {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.footer-link {
    font-size: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#modal,
#submit,
#submit2 {
    margin: 15px 0;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    background: #0a2442;
    color: #fefefe;
    cursor: pointer;
}

#openSignup,
#openLogin,
a {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #7A4DFF;
    text-decoration: underline;
    cursor: pointer;
}

